@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.container {
  min-height: 100vh;
  max-width: 100vw;
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
